body{
    background-color: #A4C9B8;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.container{
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img{
    border-radius: 10px;;
    margin-bottom: 20%;
    margin-top: 9%;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height:auto;
    padding: 70px;
}

.main > button{
    width: 80%;
    margin:10px
}

.main > a{
    width: 100%;
}

.main > a > button {
    width:80%;
    margin:10px
}


.searchDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height:auto;
    margin-bottom: 10px;
}

/* modal box */
.modal {
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background: rgb(0, 0,0, 0.7);
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.modalbox{
	width: auto;
	height: auto;
	background-color: #e9f7dc;
	border-radius: 10px;
    padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.modalbox .buttons{
	display:flex;
	justify-content: center;
	align-items: center;
    margin-top: 20px;
}

.buttons > form{
	display: flex;
    padding-right: 10px;
}

.buttons > button{
	margin: 0.5rem;
}


.modal.show{
    opacity: 1;
    pointer-events: all;
}

.warning{
    color: red;
}

textarea{
    height:40px;
    resize: none;
}